<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>用户列表</title>
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/assets/module/admin.css?v=315"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<!-- 页面加载loading -->
<div class="page-loading">
    <div class="ball-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">用户名：</label>
                        <div class="layui-input-inline mr0">
                            <input name="username" class="layui-input" id="demoReload" placeholder="请输入查询用户名" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">日期：</label>
                        <div class="layui-input-inline mr0">
                            <input class="layui-input" id="timearea" placeholder="请选择查询时间段" type="text" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn icon-btn" lay-filter="formSubSearchLog" data-type="reload" lay-submit >
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
                </div>
            </div>

            <table class="layui-table" id="user" lay-filter="tableUser"></table>
        </div>
    </div>
</div>
<script type="text/html" id="toolbarDemo">
    <shiro:hasPermission name="user:delete">
        <button class="layui-btn layui-btn-sm" lay-event="delete">删除选中数据</button>
    </shiro:hasPermission>
    <shiro:lacksPermission name="user:delete">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-danger" disabled>无权限</button>
        </div>
    </shiro:lacksPermission>
</script>
<script type="text/html" id="user-option">
    <shiro:hasPermission name="user:view">
        <a class="layui-btn layui-btn-xs layui-btn-xs" lay-event="detail">查看</a>
    </shiro:hasPermission>

    <shiro:hasPermission name="user:delete">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </shiro:hasPermission>
</script>
<script type="text/html" id="user-status">
    <shiro:hasPermission name="user:update">
        <input type="checkbox" name="sex" value="{{d.userId}}" lay-skin="switch" lay-text="开启|禁用" lay-filter="userCheck" {{d.status==1 ? 'checked':''}}>
    </shiro:hasPermission>
    <shiro:lacksPermission name="user:update">
        {{#
        var status = {
        1: {title: '有效', color: 'green'},
        0: {title: '禁用', color: 'volcano'}
        }[d.status];
        }}
        <span class="layui-btn layui-btn-{{status.color}} layui-btn-xs" >{{status.title}}</span>
    </shiro:lacksPermission>
</script>
<script type="text/html" id="user-sex">
    {{#
    var sex = {
    2: {title: '保密'},
    1: {title: '男'},
    0: {title: '女'}
    }[d.sex];
    }}
    {{#  if(sex.title === '女'){ }}
    <span style="color: #F581B1;">{{ sex.title }}</span>
    {{#  } else if(sex.title === '男') { }}
    <span style="color: #0505ff;">{{ sex.title }}</span>
    {{#  } else { }}
    {{ sex.title }}
    {{# } }}
</script>
<script type="text/javascript" src="/assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="/assets/js/common.js?v=315"></script>
<script>

    layui.use(['laydate','form','table','notice','admin'], function(){
        var table = layui.table;
        var form= layui.form;
        var laydate= layui.laydate;
        var notice= layui.notice;
        var admin= layui.admin;

        //时间选择器
        laydate.render({
            elem: '#timearea'
            , range: true
        });

        layui.form.render();   //表单渲染，得渲染才会有效果显示出来
        var talbeIns=table.render({
            elem: '#user'
            ,url:'/admin/userlist'
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '刷新'
                ,layEvent: 'reset'
                ,icon: 'layui-icon-refresh'
            }]
            ,cols: [
                [
                    {type: 'checkbox'},
                    {field: 'username', title: '用户名',align:'center'},
                    {title: '性别', templet: '#user-sex',align:'center'},
                    {field: 'phone', title: '手机',align:'center'},
                    {field: 'email', title: '邮箱',align:'center'},
                    {title: '状态', templet: '#user-status',align:'center'},
                    {field: 'createTimeStr', title: '创建时间',sort: true,align:'center'},
                    {field: 'describes', title: '个人简介',align:'center'},
                    {fixed: 'right',title: '操作', toolbar: '#user-option',align:'center', width:150}
                ]
            ]
            ,page: true
            ,limit:10
            , limits: [ 5, 10, 15, 20,25]
            , loading: true
        });

        //表单刷新
        var $ = layui.$, active = {
            reload: function(){
                var demoReload = $('#demoReload');
                var timeArea = $("#timearea").val();
                var startTime = "";
                var endTime = "";
                if (timeArea) {
                    startTime = timeArea.split(" - ")[0];//开始时间
                    endTime = timeArea.split(" - ")[1];//结束时间
                }
                //执行重载
                table.reload('user', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        username: demoReload.val(),
                        startTime:startTime,
                        endTime:endTime
                    }
                }, 'data');
            }
        };

        table.on('toolbar(tableUser)',function (obj) {
            if(obj.event==='delete'){
                var checkStatus = table.checkStatus(obj.config.id);
                if (!checkStatus.data.length){
                    notice.msg("请选择要删除的数据！！",{icon:5,timeout:2000,animateInside:true,audio:'1'});
                }else{
                    layer.confirm('确定删除多个用户吗？',{icon:3, title:'提示信息',skin: 'layui-layer-admin'},function(index){
                        var logIds = [];
                        layui.each(checkStatus.data, function (key, item) {
                            logIds.push(item.id);
                        });
                        $.get('/admin/delete/'+logIds,function(data){
                            if (data.code === 200){
                                talbeIns.reload();
                                layer.close(index);
                                notice.msg("删除多个用户成功",{icon:1,timeout:2000,animateInside:true,audio:'1'});
                            } else{
                                notice.msg(data.message,{icon:2,animateInside:true,timeout:2000});
                            }
                        });
                    });
                }
            }
            if (obj.event==='reset'){
                talbeIns.reload();
            }
        })
        //监听行工具事件
        table.on('tool(tableUser)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('确定删除此数据？',{icon:3, title:'提示信息',skin: 'layui-layer-admin'},function(index){
                    $.get('/admin/delete/'+obj.data.id,function(data){
                        if (data.code===200){
                            talbeIns.reload();
                            layer.close(index);
                            notice.msg("删除用户：["+obj.data.username+"]成功",{icon:1,timeout:2000,animateInside:true,audio:'1'});
                        } else{
                            notice.msg(data.message,{icon:2,animateInside:true,timeout:2000});
                        }
                    });
                });
            }else if(obj.event==='detail'){
                top.layui.admin.open({
                    type: 2,
                    title: '个人信息',
                    area: [$(window).width() <= 750 ? '95%' : '660px','400px'],
                    content: '/user/detail/'+data.username,
                });
            }
        });

        //点击搜索按钮
        form.on("submit(formSubSearchLog)",function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        })

        //监听开启和禁用操作
        form.on('switch(userCheck)', function(obj){
            var flag=obj.elem.checked;
            $.get("/admin/updateStatus",{"userId":this.value,"flag":flag},function (data) {
                if (data.code==200&&flag==true){
                    notice.msg("开启成功",{icon:1,timeout:2000,animateInside:true,audio:'1'});
                }else if(data.code==200&&flag==false){
                    notice.msg("禁用成功",{icon:1,timeout:2000,animateInside:true,audio:'1'});
                }else{
                    notice.msg(data.message,{icon:2,animateInside:true,timeout:2000});
                }
            });
        });
    });
</script>
</body>
</html>